ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 6px;
  font-size: 12px;

  .tag {
    border-radius: 3px;
    background: var(--color-silver);
    color: var(--color-granite);

    svg {
      cursor: pointer;
    }
  }
}
