.bcf-filters {
  &__btn-toggle {
    flex: 1;
    &:enabled {
      color: var(--color-primary);
    }

    &:disabled {
      background-color: var(--color-white);
      color: var(--color-silver-dark);
    }
  }

  &__container {
    position: absolute;
    z-index: 1;
    top: calc(32px + 12px);
    left: 0;
    width: 100%;
    min-width: 252px;
    max-width: 296px;
    padding: var(--spacing-unit);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing-unit) * 2);

    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__title {
        font-size: 1.1rem;
        font-weight: bold;
      }
    }

    ::v-deep .bimdata-select.active {
      z-index: 3;
    }

    &__date {
      & > .flex {
        gap: calc(var(--spacing-unit) / 2);
      }

      ::v-deep .bimdata-datepicker.error {
        input {
          border-bottom: 1px solid var(--color-high);
        }
      }

      p {
        margin: calc(var(--spacing-unit) / 2) 0 0;
        font-size: 11px;
      }
    }

    &__actions {
      display: flex;
      justify-content: center;
    }
  }
}
