.bcf-topic-overview {
  height: 100%;
  font-size: 12px;

  &__header {
    padding: 0 calc(var(--spacing-unit) / 2);
    display: flex;
    align-items: center;
    gap: calc(var(--spacing-unit) / 3);

    &__title {
      flex-grow: 1;
      font-size: 14px;
      font-weight: bold;
    }

    &__actions {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__content {
    height: calc(100% - 32px);
    padding: var(--spacing-unit) calc(var(--spacing-unit) / 2);
    overflow: auto;

    display: flex;
    flex-direction: column;
    gap: var(--spacing-unit);

    &__head {
      height: 27px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__index,
      &__date {
        height: 100%;
        padding: calc(var(--spacing-unit) / 2);
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &__index {
        min-width: 50px;
      }

      &__date {
        min-width: 100px;
        background-color: var(--color-silver-light);
        color: var(--color-primary);
      }
    }

    &__card {
      padding: var(--spacing-unit);
      box-shadow: var(--box-shadow);
      line-height: 1.5;

      .title {
        display: flex;
        align-items: center;
        gap: calc(var(--spacing-unit) / 2);
        margin-bottom: var(--spacing-unit);
      }

      .line {
        .label {
          margin-right: 4px;
          font-weight: bold;
          color: var(--color-primary);
        }

        .value {
          color: var(--color-granite);
        }
      }
    }
  }

  .delete-modal {
    z-index: 10;
  }
}
