.setting-card-item {
  position: relative;
  height: 37px;
  margin-bottom: calc(var(--spacing-unit) / 2);
  padding: 0 var(--spacing-unit);
  background-color: var(--color-silver-light);

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__actions {
    display: flex;
    align-items: center;
  }

  &__color {
    display: block;
    width: 19px;
    height: 19px;
    margin-left: var(--spacing-unit);
    border-radius: 3px;
    border: 1px solid var(--color-silver);
    cursor: pointer;
  }

  &__color-selector {
    position: absolute;
    z-index: 1;
    top: 32px;
    right: calc(var(--spacing-unit) / 2);
  }

  &__delete-guard {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 0 var(--spacing-unit);
    box-shadow: var(--box-shadow);
    background-color: var(--color-white);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--spacing-unit);
  }
}
