.bcf-statistics {
  width: 400px;

  &__content {
    position: relative;
    display: flex;

    &__chart {
      flex: 1;
    }

    &__legend {
      flex: 1;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-unit);
      margin-left: var(--spacing-unit);
      font-size: 14px;

      &__title {
        font-weight: bold;
      }

      &__item {
        display: flex;
        align-items: center;
        line-height: 24px;

        &__mark {
          width: 10px;
          height: 10px;
          border: 3px solid;
          border-radius: 50px;
        }

        &__percent {
          margin: 0 calc(var(--spacing-unit) / 2);
          font-weight: bold;
        }

        &__text .total {
          font-size: 13px;
        }
      }

      .bimdata-paginated-list:deep() {
        ul:first-child {
          height: 144px;
        }
      }
    }
  }
}
