.bcf-settings {
  height: 100%;
  padding: var(--spacing-unit);

  &__header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    height: 100%;

    &__text {
      padding: calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 4);
      text-align: center;
      color: var(--color-granite);
    }
  }
}
