.bcf-topic-comments {
  p {
    font-weight: 700;
  }

  &__post-comment {
    &__snapshot {
      position: relative;
      background-color: var(--color-silver-light);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .btn-delete {
        position: absolute;
        top: calc(50% - (32px / 2));
        left: calc(50% - (32px / 2));
      }
    }
    &__camera {
      cursor: pointer;
    }
  }

  ::v-deep .bimdata-textarea {
    width: 100%;
  }
}
