.bcf-topic-creation-card {
  width: 336px;
  height: 307px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: calc(var(--spacing-unit) * 2);
  box-shadow: var(--box-shadow);
  background-color: var(--color-white);

  &__text {
    font-size: 14px;
  }
}
