.bcf-topic-creation-card {
  &:deep() {
    .bimdata-card__content {
      min-height: 290px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      p {
        font-size: 14px;
      }
    }
  }
}
