.topic-comment {
  &__header {
    position: relative;
    font-weight: bold;

    &__left {
      &__user {
        width: 32px;
        height: 32px;
        border-radius: 50px;
        background-color: var(--color-silver-light);
      }
    }

    &__right {
      &__actions {
        position: absolute;
        top: 0;
        right: 0;
        background-color: var(--color-white);
      }

      &__delete {
        position: absolute;
        top: 0;
        right: 2%;
        width: 96%;
        height: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--color-white);
        box-shadow: var(--box-shadow);
      }
    }
  }

  &__content {
    ::v-deep .bimdata-textarea {
    // :deep(.bimdata-textarea) {
      margin-bottom: calc(var(--spacing-unit) / 2);

      textarea {
        color: var(--color-granite);
      }

      &:not(.editing) .bar {
        display: none;
      }
    }
  }
}
